@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext');
*{
    margin: 0;
    padding: 0;
}
.font-family{
    font-family: 'Lato', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
a,a:hover,a:active,a:visited{
    text-decoration: none !important;
    outline-style: none;
}
nav,ul,li,a,h1,h2,h3,h4,h5,h6,table,tr,td,p,span,label{
    margin: 0;
    list-style: none;
    padding: 0;
}



.commonTitle h2{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
    position: relative;
    margin-bottom: 20px;
}
.commonTitle h2:after{
    position: absolute;
    left:0;
    top: 35px;
    width: 60px;
    height: 2px;
    color: #32CCE2;
    content: '';
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #32CCE2;
}
/*========================
/Margin & Padding Setting Start here
==========================*/
.noPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.noPaddingLeft{
    padding-left: 0 !important;
}
.noPaddingRight{
    padding-right: 0 !important;
}
.noMargin {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.noMarginLeft{
	margin-left: 0 !important;
}
.noMarginRight{
	margin-right: 0 !important;
}
/*========================
/Margin & Padding Setting End here 
==========================*/

/*==========================
/Fixed all Element Start here
=============================*/

.BackTo{
    background: #fff none repeat scroll 0 0;
    bottom: 68px;
    color: #979797;
    font-size: 20px;
    height: 30px;
    left: 48%;
    position: absolute;
    text-align: center;
    width: 50px;
    z-index: 9;
}
.Searchfixed{
    position: fixed;
    right: -150px;
    top: 39px;
    z-index: 1;
    transition: .8s;
}
.FixedSearch{
    background: #b5967f none repeat scroll 0 0;
    border: 1px solid #fff;
    height: 30px;
    width: 148px;
    font-size: 14px;
    color: #fff;
    padding: 5px 0 5px 6px;
}
.fixedHeader{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #F8F8F8;
}
/*==========================
/Fixed all Element end here
=============================*/

