@media (min-width:320px) and (max-width:480px){
    .logo{
        width: 100%;
        text-align: center;
    }
    .MobileMenu {
        cursor: pointer !important;
        display: block;
        height: 26px;
        line-height: 0.2;
        width: 30px;
        position: absolute;
        top: 39px;
        right: 17px;
        z-index: 9999;
    }
    .MobileMenu span {
        background: #fff;
        display: inline-block;
        height: 2px;
        width: 100%;
    }
    .Menu{
        width: 100%;
    }
    .Menu ul {
        background: #000;
        display: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 101px;
        width: 100%;
        z-index: 999;
        opacity: .7;
    }
    .Menu ul li {
        cursor: pointer;
        display: block;
        padding: 14px 0;
    }
    .Menu ul li a{
        display: block;
    }
    .Menu ul li:hover .Submenu{
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        visibility: visible;
        opacity: 1;
    }
}
