/*
 =====================start service section=============
*/
.serviceSec{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: auto;
    background: #f1f1f1;
}
.serviceContent{
    position: relative;
    width: 100%;
    height: auto;
}
.SerIcon i{
    font-size: 20px;
    border: 2px solid #32CCE2;
    border-radius: 50%;
    padding: 20px;
    color: #32CCE2;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    margin-top: 20px;
    margin-bottom: 13px;
}

.serviceContent:hover .SerIcon i{
    background: #32CCE2;
    border-color: #32CCE2;
    color: #fff;
}
.serText h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 7px;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.serText h2:hover{
    color: #32CCE2;
}
.serText p{
    color: #888;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;

}
.serviceSec{
    padding-top: 20px;
}
.commSr{
    display: none;
}
/*
-----------------
end service section
------------------*/

/*-----------------
\start contact section
------------------*/
.contactSec{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: auto;;
    background: url(../images/bg1.png) no-repeat center center /cover;
}
.contactInfo{
    margin-top: 40px;
    margin-bottom: 44px;
}
.contactInfo h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #333;
    margin-bottom: 5px;
}
.contactInfo p{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    color: #333;
    line-height: 20px;
}

.infoName{
    width: 100%;
    height: auto;

}
.inName{
    width: 48%;
    float: left;
    height: auto;
}
.inputName {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #333;
    text-transform: capitalize;
    padding: 15px;
    border: thin solid #d1d1d1;
    margin-bottom: 20px;
}
.emailName{
    width: 48%;
    height: auto;
    float: left;
    margin-left: 44px;

}
.msg{
    width: 100%;

    position: relative;
    height: 200px;
    color: #333;
    padding: 15px;
    resize: none;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.conBtn a {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background: #32CCE2;
    padding: 11px 40px;
    color: #fff;
    border-radius: 4px;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;

}
.conBtn a:hover{
    background:#333;
}

/*
-----------------
end contact section
-------------------------*/
.footer{
    background: #333;
    padding: 20px 0;
}
.footerwedget p{
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 13px;
}
.footerwedget p a{
    color: #32CCE2;
}

.footerIcon a {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #32CCE2;
    border-radius: 50%;
    padding: 10px 14px;
    margin-right: 12px;
    color: #fff;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.footerIcon a:first-child {
    padding: 10px 17px;
}
.face:hover{
    background: #507CBE;
    border-color: #507CBE;
}
.twi:hover{
    background: #63CDF1;
    border-color: #63CDF1;
}
.goo:hover{
    background: #F16261;
    border-color: #F16261;
}
.lin:hover{
    background: #90CADD;
    border-color: #90CADD;
}
.ins:hover{
    background: #4D4F54;
    border-color: #4D4F54;
}


.SerIcon i{
    font-size: 20px;
    border: 1px solid #32CCE2;
    border-radius: 50%;
    padding: 15px;
}
.serCon h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
}

/*===================
/MenuSec
======================*/
.MenuSec{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo a {
    font-size: 40px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    padding-top: 7px;
    display: block;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.logo a:hover{
    color: #3F84A4;
}
.logo P{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.Menu{
    width: 100%;
    height: 100%;
}
.Menu ul li{
    display: inline-block;
    padding: 40px 0;
    position: relative;
    cursor: pointer;
}
.Menu ul li a{
    color: #fff;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 13px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.Menu ul li:hover a{
    color: #3F84A4;
}
.Menu ul li.active a{
    color: #1FB4DA; 
}
.Submenu {
    width: 219px;
    height: 126px;
    background: #000;
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 700ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
}
.Menu ul li .Submenu li {
    margin: 0;
    display: block;
    text-align: left;
    padding: 10px 0 10px 26px;
}
.Menu ul li .Submenu li a{
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
}
.Menu ul li:hover .Submenu{
    visibility: visible;
    opacity: 1;
    top: 100px;
}
.Menu ul li .Submenu li:hover a{
    color: #1FB4DA;
}
.socail{
    width: 100%;
    height: 100%;
    padding: 35px 0;
}
.socail a {
    color: #fff;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 12px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.socail a:hover{
    color: #fff;
    background: #1FB4DA;;
    border: 1px solid #1FB4DA;;
}
/*===================
/MenuSec
======================*/

/*===================
/SliderSec Start here by shagor
======================*/
.SliderSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.slider img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.SliderCon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.SliderMainCon{
    width: 100%;
    color: #fff;
    padding: 75px 0 83px;
}
.SliderMainCon h1{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 70px;
    text-transform: uppercase;
}
.SliderMainCon p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    width: 70%;
    margin-bottom: 20px;
    line-height: 28px;
}
.SliderMainCon a {
    background: #2a80b9 none repeat scroll 0 0;
    border-radius: 500px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 20px 35px;
    text-transform: uppercase;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.SliderMainCon a:hover{
    background: #fff;
    color: #000;
}
/*SliderOverlay by shagor*/
.SliderOverlay{
    position: relative;
}
.SliderOverlay:before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(66 , 110 , 145, .7);
}
/*SliderOverlay by shagor*/

/*===================
/SliderSec End here by shagor
======================*/

/*===================
/CmFooterSec Start here by shagor
======================*/
.CmFooterSec{
    background: #242424 none repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    padding: 55px 0 50px;
    position: relative;
    width: 100%;
}
.SingleCmFooter{
    width: 100%;
    height: 100%; 
}
.SingleCmFooter h2{
    color: #0FA2DA;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 20px;
}

.FSerMenu{
    padding: 30px 0 0;
}
.FSerMenu a{
    color: #b2b2b2;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.FSerMenu a:hover{
    color: #0FA2DA;
}
.FSerMenu p{
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.FLogo{
    font-size: 20px;
}
.FLogo p{
    font-size: 16px;
    font-weight: 400;
    color: #b2b2b2;
    padding-top: 15px;
}
.FserGroup{
    position: relative;
    width: 100%;
    height: 100%;
}
.FSerMail{
    width: 100%;
    padding: 9px 52px 9px 9px;
    color: #b2b2b2;
    font-size: 15px;
}
.NewsLBtn{
    background-color: #0FA2DA;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    height: 40px;
    padding: 0 14px;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
}
/*===================
/CmFooterSec End here by shagor
======================*/

/*==========================Service Page all Css Including here=======================*/
.SPBanerSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(../images/servicebaner.jpg) no-repeat center center / cover;
}
.SPBanerSec:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.SpBanerSingle{
    padding: 184px 0 168px;
}
.SpBanerSingle h2{
    font-size: 75px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
/*===================
/SpItemSec Start here by shagor
======================*/
.SpItemSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 72px 0 52px;
}
.singleSpItem{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.SingleSpImage{
    width: 100%;
    height: 186px;
    overflow: hidden;
    position: relative;
}
.SingleSpImage:hover .SPSingleSpOver{
    visibility: visible;
    opacity: 1;
}
.SingleSpImage img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.SingleSpImage:hover img{
    transform: scale(1.1);
}
.SPSingleSpOver{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 182, 34, 0.6);
    visibility: hidden;
    opacity: 0;
    transition:all ease 800ms;
    -moz-transition:all ease 800ms;
    -webkit-transition:all ease 800ms;
    -o-transition:all ease 800ms;
}
.SpFaLink{
    bottom: 0;
    color: #fff !important;
    font-size: 28px !important;
    height: 20px;
    left: 0;
    margin: auto !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.singleSpItem a {
    color: #383838;
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 32px 0 20px;
    text-transform: none;
}
.singleSpItem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}
.SingleSpSix{
    margin-top: 49px;
}
/*===================
/SpItemSec End here by shagor
======================*/