
.SerIcon i{
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 15px;
}
.serCon h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
}

/*===================
/MenuSec
======================*/
.MenuSec{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo a{
    font-size: 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}
.logo P{
    color: #fff;
    font-size: 18px;
}
.Menu{
    width: 100%;
    height: 100%;
}
.Menu ul li{
    display: inline-block;
}
/*===================
/MenuSec
======================*/

