/*
 =====================start service section=============
*/
.serviceSec{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: auto;
    background: #f1f1f1;
}
.serviceContent{
    position: relative;
    width: 100%;
    height: auto;
}
.SerIcon i{
    font-size: 20px;
    border: 2px solid #32CCE2;
    border-radius: 50%;
    padding: 20px;
    color: #32CCE2;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    margin-top: 20px;
    margin-bottom: 13px;
}

.serviceContent:hover .SerIcon i{
    background: #32CCE2;
    border-color: #32CCE2;
    color: #fff;
}
.serText h2{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 7px;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.serText h2:hover{
    color: #32CCE2;
}
.serText p{
    color: #888;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;

}
.serviceSec{
    padding-top: 20px;
}
.commSr{
    display: none;
}
/*
-----------------
end service section
------------------*/

/*-----------------
\start contact section
------------------*/

.industrySec{
    width: 100%;
    height: 500px;
    position: relative;
    padding: 50px 0;
    background: url(../images/index.jpg) no-repeat center center /cover;
}
.industrySec:before{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(20, 135, 188, .7);
    content: '';
}
.indMainItem {
    background: #1a7ead none repeat scroll 0 0;
    padding: 19px 0 50px;
}
.industryTitle h2{
    font-size: 57px;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    color: #fff;
    font-weight: 700;
}
.industryTitle p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 57px;
}
.indItem {
    cursor: pointer;
    float: left;
    margin-left: 12px;
    margin-right: 29px;
    padding: 34px 10px;
}
.indItem.text-center:hover {
    box-shadow: 0px 2px 9px rgb(0, 0, 0);
}
.indItem i {
    color: rgb(171, 218, 46);
    font-size: 40px;
    margin-bottom: 17px;
}
.indItem p{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}
.indBtn a {
    background: #fff none repeat scroll 0 0;
    border-radius: 44px;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 54px;
    text-transform: uppercase;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.indBtn a:hover{
    background: rgb(171, 218, 46);
}

.contactSec{
    position: relative;
    padding: 80px 0;
    width: 100%;
    height: auto;;
    background: url(../images/bg1.png) no-repeat center center /cover;
}
.contactInfo{
    margin-top: 40px;
    margin-bottom: 44px;
}
.contactInfo h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #333;
    margin-bottom: 5px;
}
.contactInfo p{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0;
    color: #333;
    line-height: 20px;
}

.infoName{
    width: 100%;
    height: auto;

}
.inName{
    width: 48%;
    float: left;
    height: auto;
}
.inputName {
    border: thin solid #d1d1d1;
    color: #333;
    display: block;
    font-size: 14px;
    height: 50px;
    margin-bottom: 20px;
    padding: 15px;
    text-transform: capitalize;
    width: 100%;
}
.emailName{
    float: left;
    height: auto;
    margin-left: 44px;
    width: 48%;

}
.msg{
    width: 100%;

    position: relative;
    height: 200px;
    color: #333;
    padding: 15px;
    resize: none;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.conBtn a {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    background: #32CCE2;
    padding: 11px 40px;
    color: #fff;
    border-radius: 4px;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;

}
.conBtn a:hover{
    background:#333;
}

/*
-----------------
end contact section
-------------------------*/
.footer{
    background: #333;
    padding: 20px 0;
}
.footerwedget p{
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-top: 13px;
}
.footerwedget p a{
    color: #32CCE2;
}

.footerIcon a {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #32CCE2;
    border-radius: 50%;
    padding: 10px 14px;
    margin-right: 12px;
    color: #fff;
    transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -o-transition: all ease 500ms;
}
.footerIcon a:first-child {
    padding: 10px 17px;
}
.face:hover{
    background: #507CBE;
    border-color: #507CBE;
}
.twi:hover{
    background: #63CDF1;
    border-color: #63CDF1;
}
.goo:hover{
    background: #F16261;
    border-color: #F16261;
}
.lin:hover{
    background: #90CADD;
    border-color: #90CADD;
}
.ins:hover{
    background: #4D4F54;
    border-color: #4D4F54;
}


.SerIcon i{
    font-size: 20px;
    border: 1px solid #32CCE2;
    border-radius: 50%;
    padding: 15px;
}
.serCon h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
}

/*===================
/MenuSec
======================*/
.MenuSec{
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
}
.logo{
    width: 100%;
    height: 100%;
}
.logo a {
    font-size: 40px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    padding-top: 7px;
    display: block;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.logo a:hover{
    color: #3F84A4;
}
.logo P{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.Menu{
    width: 100%;
    height: 100%;
}
.Menu ul li{
    display: inline-block;
    padding: 40px 0;
    position: relative;
    cursor: pointer;
}
.Menu ul li a{
    color: #fff;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
    font-size: 13px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.Menu ul li:hover a{
    color: #3F84A4;
}
.Menu ul li.active a{
    color: #1FB4DA; 
}
.Submenu {
    width: 219px;
    height: 170px;
    background: #000;
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 700ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
}
.Menu ul li .Submenu li {
    margin: 0;
    display: block;
    text-align: left;
    padding: 10px 0 10px 26px;
}
.Menu ul li .Submenu li a{
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
}
.Menu ul li:hover .Submenu{
    visibility: visible;
    opacity: 1;
    top: 100px;
}
.Menu ul li .Submenu li:hover a{
    color: #1FB4DA;
}
.socail{
    width: 100%;
    height: 100%;
    padding: 35px 0;
}
.socail a {
    color: #fff;
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px;
    display: inline-block;
    border: 1px solid #1FB4DA;
    border-radius: 50%;
    margin-right: 12px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.socail a:hover{
    color: #fff;
}
/*===================
/MenuSec
======================*/

/*===================
/SliderSec Start here by shagor
======================*/
.SliderSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider{
    width: 100%;
    height: 100%;
    position: relative;
}
.slider img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.SliderCon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.SliderMainCon{
    width: 100%;
    color: #fff;
    padding: 75px 0 83px;
}
.SliderMainCon h1{
    font-weight: 600;
    font-size: 50px;
    color: #fff;
    letter-spacing: 2px;
    line-height: 70px;
    text-transform: uppercase;
}
.SliderMainCon p {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    width: 70%;
    margin-bottom: 20px;
    line-height: 28px;
}
.SliderMainCon a {
    background: #2a80b9 none repeat scroll 0 0;
    border-radius: 500px;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    padding: 20px 35px;
    text-transform: uppercase;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.SliderMainCon a:hover{
    background: #fff;
    color: #000;
}
/*SliderOverlay by shagor*/
.SliderOverlay{
    position: relative;
}
.SliderOverlay:before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    left: 0;
    top: 0;
    background: rgba(66 , 110 , 145, .7);
}
/*SliderOverlay by shagor*/

/*===================
/SliderSec End here by shagor
======================*/

/*===================
/CmFooterSec Start here by shagor
======================*/
.CmFooterSec{
    background: #242424 none repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    padding: 55px 0 50px;
    position: relative;
    width: 100%;
}
.SingleCmFooter{
    width: 100%;
    height: 100%; 
}
.SingleCmFooter h2{
    color: #0FA2DA;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-top: 20px;
}

.FSerMenu{
    padding: 30px 0 0;
}
.FSerMenu a{
    color: #b2b2b2;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.FSerMenu a:hover{
    color: #0FA2DA;
}
.FSerMenu p{
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.FLogo{
    font-size: 20px;
}
.FLogo p{
    font-size: 16px;
    font-weight: 400;
    color: #b2b2b2;
    padding-top: 15px;
}
.FserGroup{
    position: relative;
    width: 100%;
    height: 100%;
}
.FSerMail{
    width: 100%;
    padding: 9px 52px 9px 9px;
    color: #b2b2b2;
    font-size: 15px;
}
.NewsLBtn{
    background-color: #0FA2DA;
    border: 0 none;
    box-shadow: none;
    color: #fff;
    height: 41px;
    padding: 0 14px;
    position: absolute;
    right: 0;
    top: 0;
    text-transform: uppercase;
}
/*===================
/CmFooterSec End here by shagor
======================*/

/*==========================Service Page all Css Including Start here=======================*/
.SPBanerSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(../images/servicebaner.jpg) no-repeat center center / cover;
}
.SPBanerSec:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.SpBanerSingle{
    padding: 184px 0 168px;
}
.SpBanerSingle h2{
    font-size: 75px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}
/*===================
/SpItemSec Start here by shagor
======================*/
.SpItemSec{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 72px 0 52px;
}
.singleSpItem{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.SingleSpImage{
    width: 100%;
    height: 186px;
    overflow: hidden;
    position: relative;
}
.SingleSpImage:hover .SPSingleSpOver{
    visibility: visible;
    opacity: 1;
}
.SingleSpImage img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.SingleSpImage:hover img{
    transform: scale(1.1);
}
.SPSingleSpOver{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 176, 207, 0.6);
    visibility: hidden;
    opacity: 0;
    transition:all ease 800ms;
    -moz-transition:all ease 800ms;
    -webkit-transition:all ease 800ms;
    -o-transition:all ease 800ms;
}
.SpFaLink{
    bottom: 0;
    color: #fff !important;
    font-size: 28px !important;
    height: 20px;
    left: 0;
    margin: auto !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.singleSpItem a {
    color: #383838;
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 32px 0 20px;
    text-transform: none;
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
}
.singleSpItem a:hover{
    color: #1FB4D7;
}
.singleSpItem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
}
.SingleSpSix{
    margin-top: 49px;
}
/*===================
/SpItemSec End here by shagor
======================*/

/*==========================Service Page all Css Including end here=======================*/
/*==========================Performance Page all Css Including Start here=======================*/

.PerFor{
    padding: 77px 0 95px;
}
.PerFor h2{
    text-transform: none;
    font-size: 55px;
}
.PerFor h3{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-top: 15px;
}
/*============================
/SPerforPMainSec Start here By Shagor
==============================*/
.SPerforPMainSec{
    width: 100%;
    height: 100%;
    position: relative;
}
.SPerforPMainSec:before{
    background: #f9f9f9 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 25%;
}
.SPerForMainLeft{
    width: 100%;
    height: 100%;
}
.PerForLeftHeading h2{
    padding-top: 56px;
}
.PerForLeft{
    padding: 14px 0 0;
}
.PerForLeft h1{
    line-height: .8;
}
.PerForLeft a{
    display: inline-block;
    color: #a3a3a3;
    font-size: 15px;
    padding-top: 20px;
}
.SperForLeftQute{
    text-transform: capitalize;
    color: #ffffff;
    background: #0F9DBF;
    letter-spacing: 0.5px;
    border-radius: 8px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 33px;
    margin-top: 45px;
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
}
.SperForLeftQute:hover,.SperForLeftQute:visited{
    background: #000;
    color: #fff;
}
.PerForRight{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.PerForSingleSpImage{
    height: 252px;
}
.PerAccordianImage{
    height: 135px;
}
.PerAccordianImageThree{
    margin: 22px 0;
}
.Accordian{
    margin-top: 35px;
}
.AccordianRight{
    margin-top: 0;
}
.PerForPartOne h1{
    color: #181818;
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 51px 0 31px;
    text-transform: none;
}
.PerForPartOne p{
    line-height: 1.7;
    color: #727272;
}
/*Accordina Start by Shagor*/
.Accordian p{
    line-height: 1.7;
    color: #727272;
}
.Accordian .panel-title > a {
    background: rgba(34, 180, 229, .7) none repeat scroll 0 0;
    color: #fff;
    display: block;
    line-height: 12px;
    padding: 13px 10px 13px 30px;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
}
.panel-heading{
    padding: 0;
    border: 0px;
    background: transparent;
}
.Accordian .panel-title > a.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #22b4e5;
    color: #22b4e5;
}
.Accordian .panel-title > a.collapsed span::after {
    display: none;
}
.panel-default{
    border-color: rgba(34, 180, 229, .6);
}
.Accordian .panel-title > a.collapsed span {
    border: 1px solid #22b4e5;
    border-radius: 50%;
    height: 10px;
    top: 13px;
    transform: none;
    width: 10px;
}
.Accordian .panel-title > a span {
    bottom: 0;
    display: inline-block;
    height: 15px;
    left: auto;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    transform: rotate(45deg);
    width: 15px;
}
.Accordian .panel-title > a span::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 700ms ease 0s;
    width: 1px;
}
.Accordian .panel-title > a span::after {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
    transition: all 700ms ease 0s;
    width: 100%;
}
/*Accordina End by Shagor*/
/*============================
/SPerforPMainSec End here By Shagor
==============================*/
/*==========================Performance Page all Css Including end here=======================*/

/*==========================Design Page all Css Including Start here=======================*/

/*============================
/DesignSlider Start here By Shagor
==============================*/
.DesignSlider{
    width: 100%;
    height: 100%;
    position: relative;
}
.DesignHead {
    padding: 50px 0;
}
.DesignHead h2{
    color: #0078ae;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: -1px;
}
.DesignHead p{
    color: #5a6063;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    padding-top: 21px;
}
.DesignSliderCon{
    height: 100%;
    padding: 40px 0;
    position: relative;
    width: 100%;
}
.DesignSliderCon h2{
    color: #009ddc;
    font-size: 45px;
    font-weight: 300;
}
.DesignSliderCon p{
    color: #5a6063;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    padding-top: 24px;
}
.DeSliderConImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.DeSliderConImage img{
    width: 100%;
    height: 100%;
}
.carousel-control.left,.carousel-control.right{
    background: transparent;
    display: inline-block;
}
.DesignArrowRightCarosul1{
    width: 60px;
    height: 128px;
    display: block;
    top: 33%;
}
.DesignleftLeftCarosul1{
    display: block;
    height: 128px;
    top: 33%;
    width: 128px;
}
.DesignleftLeftCarosul1:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/arrow-left.svg) no-repeat center center / cover;
}
.DesignArrowRightCarosul1:after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/arrow-right.svg) no-repeat center center / cover;
}

/*DesignTabs Start here by Shagor*/
.DesignTab {
    padding: 50px 0;
}
.TabMenu{
    width: 100%;
    height: 100%;
    position: relative;
}
.TabMenu ul{
    margin: 0;
    padding: 0;
    position: relative;
}
.TabMenu ul:before{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d5d5d5 0px, #dedede 10%, #e5e5e5 14%, #f1f1f1 29%, #f6f6f6 38%, #f8f8f8 48%, #f8f8f8 81%, #f6f6f6 90%, #f1f1f1 100%) repeat scroll 0 0;
    content: "";
    height: 22px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 77px;
    width: 60%;
    z-index: 1;
}
.TabMenu ul li{
    display: inline-block;
    padding: 192px 0 0;
    position: relative;
    vertical-align: top;
    width: 33%;
    z-index: 2;
}
.TabMenu ul li a{
    color: #fff;
}
.DspanFirst{
    height: 176px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 176px;
}
.DspanFirst strong{
    background: #f7f7f7 none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2) inset;
    content: "";
    height: 152px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 152px;
    z-index: 1;
}
.DspanFirst em{
    background: #0078ae none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #fff;
    font: 57px/118px roboto-bold-webfont,sans-serif;
    height: 118px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 118px;
    z-index: 2;
}
.TabMenu ul li.active .DspanFirst strong {
    height: 176px;
    width: 176px;
}
.TabMenu ul li.active .DspanFirst em{
    background: rgba(136, 186, 0, 1) none repeat scroll 0 0;
    color: #fff;
    height: 142px;
    line-height: 142px;
    width: 142px;
}
.TabMenu ul li a p{
    color: #0078ae;
    display: inline-block;
    font: 24px/1.1 roboto-bold-webfont,sans-serif;
    text-align: center;
}
.TabMenu ul li.active p{
    color: #88BA00;
}
.TabProgress{
    background: #0078ae none repeat scroll 0 0;
    border-radius: 4px;
    height: 17px;
    margin: 0 0 60px;
    position: relative;
}
.DeProgressIndecator{
    background: #88ba00 none repeat scroll 0 0;
    border-radius: 4px;
    display: block;
    height: 17px;
    transition: width 0.4s ease 0s;
    width: 33.33%;
}
.DeArrowIndecator{
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 16px solid #88ba00;
    height: 0;
    margin-left: -22px;
    position: absolute;
    top: 100%;
    transition: left 0.4s ease 0s;
    width: 0;
    left: 17%;
}
.TabMenu ul li.active .DeArrowIndecator{
    left: 50%;
}
.TabMenu ul li.active-1 .DeProgressIndecator{
    width: 66%;
}
.TabMenu ul li.active-0 .DeArrowIndecator.active{
    left: 34%;
}
.TabMenu ul li.active{}
.PanelLeft > h2 {
    color: #0078ae;
    font-weight: 700;
    line-height: 1.2;
}
.PanelRight p{
    color: #5a6063;
    font-size: 17px;
    line-height: 1.6;
}
.Pad45{
    padding: 45px 0;
}
/*DesignTabs end here by Shagor*/


/*
.carouselIndicatorMain{
    width: 100%;
    height: 100%;
}
.DesignIndecator i{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.carousel-indicators li {
    background-color: black;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 1px;
    text-indent: -999px;
    width: 80px;
    position: relative;
}
.carousel-indicators .active {
  background-color: #fff;
  height: 80px;
  margin: 0;
  width: 80px;
}*/
/*============================
/DesignSlider end here By Shagor
==============================*/

/*============================
/DesignSliderTwo Start here By Shagor
==============================*/
.DesignSliderTwo{
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #DEDEDE;
    padding-bottom: 20px;
}
.DesingSliderTwoHeading{
    padding: 50px 0;
}
.DesingSliderTwoHeading h2{ 
    font-size: 55px;
    color: #0078ae;
    letter-spacing: -1px;
    font-weight: 600;
    text-align: center;
}
.DesingSliderTwoImage{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.DesingSliderTwoImage img{
    width: 100%;
    height: 500px;
}
.DesignSlideTwo .owl-theme .owl-controls .owl-buttons div {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f7465b;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px;
    opacity: 1;
    padding: 7px 15px;
    transition: all 0.8s ease 0s;
}
.DesignSlideTwo .owl-prev{
    background: rgba(0, 0, 0, 0) url("../images/arrow-left.svg") no-repeat scroll center center / cover ;
    height: 60px;
    left: 33px;
    position: absolute;
    top: 130px;
    width: 60px;
}
.DesignSlideTwo .owl-next{
    position: absolute;
    right: 33px;
    top: 130px;
    width: 60px;
    height: 60px;
    background: url(../images/arrow-right.svg) no-repeat center center / cover;
}
.DesignSlideTwo .owl-next i,.DesignSlideTwo .owl-prev i{
    font-size: 25px;
    margin-top: 14px;
}
.DesignSlideTwo .owl-pagination{
    border-bottom: 3px solid #869791;
    height: auto;
    position: relative;
    width: 100%;
}
.DesignSlideTwo .owl-page {
    border-right: 1px solid #DEDEDE;
}
.DesignSlideTwo.owl-theme .owl-controls {
    margin-top: 43px;
    text-align: center;
}

.DesignSlideTwo.owl-theme .owl-controls .owl-page span {
    background: url(../images/icon.jpg) no-repeat center center / cover;
    border-radius: 20px;
    display: block;
    height: 52px;
    width: 146px;
    margin: 5px 7px;
    opacity: 1;
    position: relative;
    background-position: -36px 0;
}
.DesignSlideTwo.owl-theme .owl-controls .owl-page.active span:after{
    background: #0FA2DA none repeat scroll 0 0;
    bottom: -14px;
    content: "";
    height: 3px;
    left: -7px;
    position: absolute;
    width: 162px;
}
.DesignSlideTwo.owl-theme .owl-controls .owl-page.active span::before {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 14px solid #0FA2DA;
    content: "";
    left: 50%;
    margin-left: -20px;
    position: absolute;
    bottom: -28px;
}
/*============================
/DesignSliderTwo end here By Shagor
==============================*/

/*============================
/DesignSliderThree Stasrt here By Shagor
==============================*/
.DSliderThree.owl-theme .owl-controls {
    margin: 10px 0 67px;
    text-align: center;
}
.DSliderThree.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
}
.DSliderThree .owl-prev{
    left: 13px;
    position: absolute;
    top: 170px;
}
.DSliderThree .owl-next{
    right: 13px;
    position: absolute;
    top: 170px;
}
.DSliderThree .owl-prev:hover{
    box-shadow:  0 3px 10px rgba(255,255,255,1),3px 0 3px 0 rgba(0,0,0,.1);
}
.DSliderThree .owl-next:hover{
    box-shadow:  0 3px 10px rgba(255,255,255,1),-3px 0 3px 0 rgba(0,0,0,.1);
}
.DSliderThree .owl-next i,.DSliderThree .owl-prev i{
    font-size: 60px;
    color: #60C1F0;
}
.DSliderThree.owl-theme .owl-controls .owl-page span {
    background: transparent none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    height: 24px;
    margin: 5px 12px;
    opacity: 0.5;
    width: 24px;
    border: 2px solid #dedede;
}
.DSliderThree.owl-theme .owl-controls .active span{
    border-color: #14A5DE;
    opacity: 1;
    position: relative;
}
.DSliderThree.owl-theme .owl-controls .active span:after{
    background: #14a5de none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 12px;
    left: 1px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
}
/*============================
/DesignSliderThree end here By Shagor
==============================*/

/*============================
/DiscusButtonSec Start here By Shagor
==============================*/
.DiscusButtonSec{
    height: 100%;
    padding: 20px 0 80px;
    position: relative;
    width: 100%;
}
.DiscusBtnCon{
    border: 1px solid #dedede;
    height: 100%;
    padding: 50px 92px;
    width: 100%;
    position: relative;
    border-radius: 4px;
}
.DiscusBtnCon:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: rgb(0, 157, 220);
}
.DiscusBtnCon h2{
    color: #009ddc;
    display: inline-block;
    font-size: 42px;
    font-weight: 700;
}
.DiscusBtnCon a{
    background: #90c404 none repeat scroll 0 0;
    border-radius: 9px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    height: 57px;
    margin-left: 42px;
    padding: 15px 43px;
    position: relative;
    text-transform: uppercase;
    width: 246px;
    z-index: 999;
    overflow: hidden;
}
.DiscusBtnCon a:before{
    position: absolute;
    content: '';
    width: 246px;
    height: 0;
    border-radius: 9px;
    left: 0;
    top: 0;
    z-index: 9;
    background: rgba(157, 211, 10, .4);
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
    visibility: hidden;
    opacity: 0;

}
.DiscusBtnCon a:hover:before{
    visibility: visible;
    opacity: 1;
    height: 57px;
}
.DiscusBtnCon > a > i{
    padding-left: 19px;
}
.DesignPHeadRank{
    padding: 101px 0 44px;
}
.DesignPHeadRank h2{
    color: #0078ae;
    display: block;
    padding-bottom: 9px;
    font-weight: 700;
    font-size: 45px;
}
.DesignPHeadRank h3{
    color: #5a6063;
    display: block;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}
.DesignPsingleRank{
    padding-bottom: 63px;
}
.DesignPsingleRank h2{
    font-size: 15px;
    padding-bottom: 20px;
}
.DesignPsingleRank span,
.DesignPHeadRank span{
    font-weight: 700;
    color: #5A6063;
}
.DesignPsingleRank img{
    width: auto;
    height: auto;
}
.DPageSingup{
    width: 100%;
    height: 100%;
    position: relative;
    border-top: 2px solid #E8E8E8;
}
.DePSingUpBtn{
    padding: 60px 0 0;
}
.DePSingUpBtn h2{
    color: #0078ae;
    display: block;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 20px;
}
.DePageInputGroup{
    position: relative;
    width: 100%;
    height: 100%;
}
.DesignUpInput{
    background: #eee none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    height: 100%;
    padding: 10px 0 10px 28px;
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.DesignUpBtn{
    background: #009DDC none repeat scroll 0 0;
    border-radius: 9px;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    overflow: hidden;
    padding: 12px 30px 11px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: all ease 600ms;
    -moz-transition: all ease 600ms;
    -webkit-transition: all ease 600ms;
    -o-transition: all ease 600ms;
}
.DesignUpBtn:hover{
    background: #90c404;
    color: #fff;
}
.DesignUpBtn i{
    font-size: 14px;
    padding-left: 8px;
}
/*============================
/DiscusButtonSec end here By Shagor
==============================*/
/*==========================Design Page all Css Including end here=======================*/

/*==========================Workwith Page all Css Including Start here By Rasel=======================*/
/*
--------------------------
contact form
------------------------*/
.contactFormSec{
    padding: 80px 0;
    background: #ddd;
}

.input-group{
    width: 100%;
    height: auto;
}
.input-group label{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
}
.inName {
    border-radius: 14px;
    box-shadow: 0 0 5px #ddd;
    color: #333;
    font-size: 16px;
    height: 44px;
    margin-bottom: 12px;
    text-transform: capitalize;
    width: 48%;
}
.inName:focus{
    border-color: #827717;
}
.conForm .buton {
    background: #3f84a4 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 8px 29px;
    text-transform: uppercase;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;

}

.conForm .buton:hover{
    background: #333;
}
.inName.msgbox{
    height: 200px;
    resize: none;
}


.contactInfo{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.conIcon{
    width: 20%;
    float: left;
}
.conIcon i {
    border: 2px solid #3f84a4;
    border-radius: 50%;
    color: #3f84a4;
    font-size: 50px;
    padding: 11px 21px;
}
.conIcon1 i {
    padding: 13px 18px;
}
.conIcon2 i {
    padding: 13px 14px;
}
.contactText{
    width: 80%;
    float: left;
}
.contactText h3 {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
}
.contactText p{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    color: #999;

}
.hireme{
    background: #fff;
    padding: 15px;
    margin-top: 80px;
}
.hireme h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #333;
    margin-bottom: 8px;
}
.hireme p{
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin-bottom: 6px;
}
.hireme a{
    font-size: 14px;
    color: rgb(23, 126, 229);
    text-transform: capitalize;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.hireme a:hover{
    color: #f8c12c;
}

/*==========================Workwith Page all Css Including end here By Rasel=======================*/
/*==========================About US Page all Css Including Start here By Rasel=======================*/
.abContentSec{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.Apadding35{
    padding-top: 45px;
}
.BGrowR{
    background: rgb(247, 247, 247);
}
.experienceMic h2 {
    color: #337ab7;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.experienceMic p{
    font-size: 16px;
    font-weight: 400;
    color: #999;
    letter-spacing: 0;
    text-align: justify;
    margin-bottom: 12px;
}
.experienceMic p span{
    font-weight: 700;
    color: #111;
    color: #337ab7;
}
.expImg{
    width: 100%;
    height: auto;
}
.expImg img{
    width: 100%;
    height: 100%;
}
.aboutHead {
    padding: 54px 0;
}
.aboutHead h2{
    font-weight: 300;
}
.aboutHead h2 span{
    font-weight: 700;
}
.aboutHead h3{
    font-size: 28px;
    font-weight: 300;
    padding-top: 10px;
}

/*=====================
/AbCountrySec Start here By shasgor
=================================*/
.AbCountrySec{
    height: 100%;
    padding-bottom: 55px;
    position: relative;
    width: 100%;
    padding-top: 45px;
}
.SingleCountry{
    width: 100%;
    height: 100%;
}
.SingleCountry img{
    width: auto;
    height: auto;
}
.SingleCountry h2{
    color: #5a6063;
    font-weight: 600;
    font-size: 17px;
}
.countryHead{
    padding: 0 0 21px;
}
.countryHead2{
    padding: 37px 0 10px;
}
.countryHead h2{
    font-weight: 300;
    font-size: 36px;
}
.hoby i{
    font-size: 20px;
}
.countryHead span{
    font-weight:900;
}
.hoby{
    padding: 4px;
}
.absingleBlog{
    width: 100%;
    height: auto;
}
.absingleBlog img {
    margin-bottom: 19px;
}
.absingleBlog h2 {
    color: #0078ae;
    font-size: 44px;
    font-weight: 300;
    margin-bottom: 17px;
    text-transform: capitalize;
}
.absingleBlog h2 span {
    font-size: 50px;
    font-weight: 900;
}
.absingleBlog p {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 36px;
    padding: 0 56px;
}
.abBlogBtn a {
    background: #0078ae none repeat scroll 0 0;
    border-radius: 134px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 38px;
    text-transform: uppercase;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.abBlogBtn a:hover{
    background: #48a4ce;
}

/*=====================
/AbCountrySec end here By shasgor
=================================*/
.abBlogSec{
    background: #fbfbfb none repeat scroll 0 0;
    height: 100%;
    padding: 0 0 122px;
    position: relative;
    width: 100%;
}
/*==========================About US Page all Css Including end here By Rasel=======================*/
/*==========================Service_Four Page all Css Including Start here By Shagor=======================*/
.ServiceFourMenu{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 710px;
    position: relative;
    background:url(../images/S4banner.jpg) no-repeat center center / cover;
}
.SerViceFourMenu{
    background: rgba(255, 255, 254, 0.7) none repeat scroll 0 0;
    height: 50px;
    padding: 12px 0;
    width: 100%;
}
.SerFourLeftMenu a,.SerFourRightMenu a{
    color: #2e2e2e;
    font-size: 18px;
    font-family: '', sans-serif;
    text-transform: capitalize;
}
.SerFourComHeading{
    height: 100%;
    padding: 15px 0;
    position: relative;
    width: 100%;
}
.SerFourHeadAbs{
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -116px;
    width: 571px;
}

.SerFourHeadAbs h1{
    color: #2e2e2e;
    font-size: 60px;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding-top: 7px;
    text-transform: uppercase;
}
.SerFourHeadAbs h2{
    color: #7f7f7f;
    font-size: 36.0857px;
    line-height: 1.3;
}
.ChreeSec {
    width: 100%;
    height: 100%;
    position: relative;
}
.ChreeSec:before{
    background: rgba(0, 0, 0, 0) url("../images/cheeryright.jpg") no-repeat scroll center center / cover ;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.SingleCheery{
    font-family: "Raleway",sans-serif;
    height: 100%;
    overflow: hidden;
    padding: 75px 0 70px;
    position: relative;
    width: 100%;
}
.SingleCheery h2{
    font-size: 36px;
    font-weight: 700;
    color: #7F7F7F;
    padding-bottom: 8px;
}
.SingleCheery p{
    font-size: 24px;
    line-height: 1.4em;
    color: #7f7f7f;
}
.downloagBtn{
    border: 5px solid #ff5d4c;
    border-radius: 0;
    color: #2e2e2e;
    font-size: 22px;
    outline: medium none !important;
    padding: 7px;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    font-family: 'Raleway', sans-serif;
    margin-right: 22px;
}
.downloagBtn:hover{
    color: #ff5d4c;
}
.CheeryPositive{
    background: #000 none repeat scroll 0 0;
    height: 100%;
    padding-bottom: 17px;
    position: relative;
    width: 100%;
}
.creeryLogo{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.creeryLogo img{
    width: auto;
    height: auto;
    overflow: hidden;
}
.creeryLogo h2{
    color: #cfcfcf;
    font-size: 24px;
    line-height: 1.2em;
    padding: 0 0 12px;
}
.anotherOne:before{
    background: url(../images/cheeryanother.jpg) no-repeat center center / cover;
    left:0;
    top: 0;
}
.SingleCheeryAnother{
    padding-left: 25px;
}
.SingleCheeryAnother p{
    padding-bottom: 30px;
}
.AnotherdownBtn{
    border-color: #000;
}
.MoreWork{
    width: 100%;
    height: 100%;
    position: relative;
    background: #FF5D4C;
}
.workHeading{
    padding: 70px 0 75px;
}
.workHeading h2{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}
/*
rasel*/
.folioImg{
    width: 100%;
    height: auto;
    position: relative;
}
.folioImg.folioImg1{
    float: left;
    width: 50%;

}
.folioImg.folioImg2{
    float: left;
    width: 50%;
}
.folioImg img{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgoverLay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255 ,.8);
    opacity: 0;
    visibility: hidden;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.folioImg:hover .imgoverLay{
    visibility: visible;
    opacity: 1;
}
.folioImg:hover .fOverText{
    visibility: visible;
    transform: translate(0px, 40px);
    opacity: 1;
}
.folioImg:hover .OverBtn{
    visibility: visible;
    transform: translate(0px, -25px);
    opacity: 1;
}
.fOverText {
    bottom: 0;
    font-family: "Raleway",sans-serif;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.7s ease 0s;
    width: 100%;
    top: 200px;
    opacity: 0;
    visibility: hidden;
}
.fOverText h2 {
    color: #2e2e2e;
    font-size: 4.65em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.OverBtn {
    bottom: 59px;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 0.7s ease 0s;
    visibility: hidden;
}
.OverBtn p {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
    transition: all 0.7s ease 0s;
    margin-bottom: 21px;
}
.OverBtn a {
    border: 4px solid #ff7264;
    color: #333;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: capitalize;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.OverBtn a:hover{
    color: #ff7264;
}
/*==========================Service_Four Page all Css Including end here By Shagor=======================*/

/*
-------------------------------
work page rasel
--------------------------------
*/
.workTitleSec{
    width: 100%;
    height: auto;
    position: relative;
    padding: 50px 0;
}
.workTitle h1 {
    color: #2e2e2e;
    font-family: "Raleway",sans-serif;
    font-size: 100px !important;
    font-weight: 900;
    line-height: 1em;
    margin: 0 0 23px;
    text-align: center;
    text-transform: uppercase;
}
.workTitle p{
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}


/*
---------------------------
start folio section
-------------------------*/
.folioSec{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.folioImg{
    width: 100%;
    height: auto;
    position: relative;
}
.folioImg.folioImg1{
    float: left;
    width: 50%;

}
.folioImg.folioImg2{
    float: left;
    width: 50%;
}
.folioImg img{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgoverLay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255 ,.8);
    opacity: 0;
    visibility: hidden;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.folioImg:hover .imgoverLay{
    visibility: visible;
    opacity: 1;
}
.folioImg:hover .fOverText{
    visibility: visible;
    transform: translate(0px, 40px);
    opacity: 1;
}
.folioImg:hover .OverBtn{
    visibility: visible;
    transform: translate(0px, -25px);
    opacity: 1;
}
.fOverText {
    bottom: 0;
    font-family: "Raleway",sans-serif;
    height: auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.7s ease 0s;
    width: 100%;
    top: 200px;
    opacity: 0;
    visibility: hidden;
}
.fOverText h2 {
    color: #2e2e2e;
    font-size: 4.65em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.OverBtn {
    bottom: 220px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: all 0.7s ease 0s;
    visibility: hidden;
    opacity: 0;
}
.OverBtn p {
    color: #7f7f7f;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: center;
    transition: all 0.7s ease 0s;
    margin-bottom: 21px;
}
.OverBtn a {
    border: 4px solid #ff7264;
    color: #333;
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: capitalize;
    transition:all ease 600ms;
    -moz-transition:all ease 600ms;
    -webkit-transition:all ease 600ms;
    -o-transition:all ease 600ms;
}
.OverBtn a:hover{
    color: #ff7264;
}
.folioimgContent {
    background: rgb(127, 165, 136) none repeat scroll 0 0;
    padding: 214.5px 0;
}
.folioimgContent p {
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    padding-left: 23px;
}
.folioimgContent.folioimgContent1{
    background: #ff7264;
}
/*
---------------------------
end folio section


    
-------------------------*/