---
layout: micro
title: Home
---
<!--SliderSec Start here By shagor-->
<section class="SliderSec">
    <div class="container-fluid noPadding">
        <div class="sSlider">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>your aim. is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>Our aim is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>Our aim is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>
<!--SliderSec End here-->

<!--start service section-->
{% include section_service.html %}

<!--End service section-->
{% include section_industry.html %}
<!--start contact section-->
{% include sec_index_contact.html %}


<!--End Contact Section-->
