---
layout: micro
title: Work With Us
---
<section class="SPBanerSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="SpBanerSingle">
                    <h2>Work with us</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--start contact form-->
<section class="contactFormSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form method="post" action="#" class="conForm">
                    <div class="input-group">
                        <label for="exampleInputEmail1">Full Name*</label>
                        <input type="text" class="inNamework" placeholder="Your Full Name" required="required">
                    </div>
                    <div class="input-group">
                        <label for="exampleInputEmail1">Email*</label>
                        <input type="email" class="inNamework" placeholder="Email" required="required">
                    </div>

                    <div class="input-group">
                        <label for="exampleInputPassword1">Company Name</label>
                        <input type="text"  class="inNamework" placeholder="Company Name">
                    </div>
                    <div class="input-group">
                        <label for="exampleInputPassword1">Your Message</label>
                        <textarea name="message" class="inNamework msgboxwork" placeholder="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default buton">Submit</button>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="contactInfo">
                    <div class="conIcon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="contactText">
                        <h3>Nikunja 2 </h3>
                        <p>Dhaka 1229 Bangladesh</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="contactInfo">
                    <div class="conIcon conIcon1">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="contactText">
                        <h3>Give us call</h3>
                        <p>Phone: +8801910028951</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="contactInfo">
                    <div class="conIcon conIcon2">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                    <div class="contactText">
                        <h3>Send us message</h3>
                        <p>Email: junayed@microtechna.com</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="hireme">
                    <h3>We’re Hiring!</h3>
                    <p>Become part of a team that cares about the quality of its <br>work and the quality of life.</p>
                    <a href="workwith.html">view openings <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end contact form-->
<!--Desing page DiscusButton Start here By Shagor-->

<section class="DiscusButtonSec">
    <!-- {% include sec_discuss.html %} -->
<!--     {% include sec_recognized.html %} -->
    {% include sec_signup.html %}
</section>