<section class="abContentSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DesignHead aboutHead">
                    <h2>Experience <span>MicrotechNA</span></h2>
                    <h3>is recognized as a <span>Top Digital Agency</span> by </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="experienceMic">
                    <h2>Experience microtech</h2>
                    <p><span>MicroTech </span>(North America) has for more than four years of supported Learning delivery by expert
                        information technology professionals successfully and satisfying our valuable trainee.
                        Offering online and offline training for the key areas such as Software testing, Selenium, QTP testing,
                        Java, C#, Oracle Database Administrator training, and much more. image
                    </p>
                    <p>At <span>MicroTech </span>, we have assembled a talented team of digital strategists, designers, developers, marketers, communications specialists,
                        project managers and business developers to work in a collaborative manner on our client projects. We build on each other’s expertise,
                        working together in teams to generate great outcomes for projects.
                    </p>
                    <p><span>Expertise in training</span> with quality of demos and samples which is keenly focused on our business. 
                        We have a mature learning proven process where you able to rely on us; feel free to see our testimonials & references.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="expImg">
                    <img src="./assets/images/computer-472016_640-300x173.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="row BGrowR">
            <div class="col-lg-6">
                <div class="expImg Apadding35">
                    <img src="./assets/images/11-1024x332.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="experienceMic Apadding35">
                    <h2>our hobbies</h2>
                    <p><span>One</span> of our main aims is to provide high-quality training with competitive pricing and 
                        quick turn-around time. MicroTech helping to build the knowledge & skill bridge between industries & manpower by 
                        training new immigrants and existing personnel to make a better future in abroad
                    </p>
                    <p>We <span>MicroTech </span>,  already give our training many students successfully past few years and some 
                        of them are doing a job in the respected field in USA respected industry successfully with attractive salary.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="experienceMic Apadding35">
                    <h2>our history</h2>
                    <p><span>MicroTech</span>  is founded with the aim of establishing support in offshore service for the need of ongoing development
                        with facilities in the United States, Australia and in Asia. We specialize in creating solutions for custom applications for enterprises,
                        and online business. Our aim is to strengthening the clients with flawless of resources supply.(Use our Contact Us page to introduce
                        yourself.)
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="expImg Apadding35">
                    <img src="./assets/images/12-300x129.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>