<section class="mainSliderSec">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="SlideItemOne">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1>dfdf</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="SlideItemOne SlideItemTwo">
                    <div class="row">
                        <div class="col-lg-12 text-center">

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="SlideItemOne">
                    <div class="row">
                        <div class="col-lg-12 text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>