<!--start slide-->
<section class="HomeSlide">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                <div class="slideContent">
                    <h1>Be Bold. Experiment Everywhere.</h1>
                    <p>Test and personalize across your customers' journey with <br>Optimizely, the Experimentation Platform.</p>
                    <div class="slideBtn">
                        <a href="./design.html">learn more</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end slide-->