<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>your aim. is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>your aim. is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>your aim. is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="slider SliderOverlay">
                        <img src="./assets/images/slide.jpg" alt="">
                    </div>
                    <div class="SliderCon">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-left">
                                <div class="SliderMainCon">
                                    <h1>your aim. is to strengthening</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elitsed<br>  
                                        eiusmod tempor enim minim veniam quis <br> notru exercit
                                        ation Lorem ipsum dolor sit amet.Veniam quis notru exercit.
                                    </p>
                                    <a href="#">Contact us</a>
                                    <a href="#">About us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>