<section class="DesignSlider">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DesignHead">
                    <h2>Benefits / Our Solution</h2>
                    <p>This solution will help to make your website visitors happy, as they use more and more different devices to view web content, responsive sites are the only logical way to keep up with an ever changing market.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Mobile Responsive Design</h2>
                                    <p>Mobile is becoming more and more prevalent and 
                                        becoming a focal point of business processes.
                                        Responsive Web Design makes your web page look 
                                        good on all devices (desktops, tablets, and phones). 
                                        It helps to make your website visitors happy.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem1.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Blazing-Fast page loading</h2>
                                    <p>Our hand crafted customize websites through
                                        the optimization rules for the online resources 
                                        properly, they've been tested and proven and they
                                        underpin the work we do every day, thus the website
                                        load in faster manner. We may host the website in our blazing fast
                                        USA server for monthly $2. *You will get first month for free.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/desingitem2.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Hand crafted & Secure</h2>
                                    <p>We use hand crafted fast technology architecture. 
                                        Faster than any WordPress site. If you don't believe 
                                        me then just compare our site with any other CMS site 
                                        on Google Page Insights. I'm pretty sure our hand crafted 
                                        websites wins the race.
                                    </p>
                                    <p>Our static websites will not have any database to manipulate. 
                                        So 100 times safer than WordPress. But nothing is un-hackable.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/designitem3.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Web Compatibility</h2>
                                    <p>A site should easily render on various resolutions, screen sizes,
                                        and browsers; and with the increasing popularity of mobile devices,
                                        websites should function properly on the plethora of 
                                        these types of devices.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/CopyDesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left DesignleftLeftCarosul1 carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
                <a class="right DesignArrowRightCarosul1 carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
            </div>
        </div>
    </div>  
</section>