<section class="DesignSliderTwo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="DesingSliderTwoHeading">
                    <h2>Before & After Redesigns</h2>
                </div>
            </div>
        </div>
        <div class="DesignSlideTwo">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="DesingSliderTwoImage">
                        <img src="./assets/images/Redesign.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="DesingSliderTwoImage">
                        <img src="./assets/images/Redesign2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="DesingSliderTwoImage">
                        <img src="./assets/images/Redesign3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <div class="DesingSliderTwoImage">
                        <img src="./assets/images/Redesign4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>