<div class="container">
    <div class="row">
        <div class="DPageSingup">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DePSingUpBtn">
                    <h2>Sign Up to get the latest on Digital Trends</h2>
                    <div class="DePageInputGroup">
                        <input type="email" class="DesignUpInput" placeholder="Enter Your Email">
                        <a href="#" class="DesignUpBtn">sign up<i class="fa fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>