<section class="DesignSliderThree">
    <div class="container-fluid">
        <div class="DSliderThree">
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>