<section class="DesignTab">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="TabMenu">
                    <ul role="tablist">
                        <li role="presentation" class="active">
                            <a href="#One" aria-controls="one" role="tab" data-toggle="tab">
                                <span class="DspanFirst">
                                    <strong><em>1</em></strong>
                                </span>
                                <p>Drive Qualified Traffic</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#two" aria-controls="two" role="tab" data-toggle="tab" aria-expanded="false">
                                <span class="DspanFirst">
                                    <strong><em>2</em></strong>
                                </span>
                                <p class="text-center">Convert Visitors into<br> Leads & Customers </p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#three" aria-controls="three" role="tab" data-toggle="tab">
                                <span class="DspanFirst">
                                    <strong><em>3</em></strong>
                                </span>
                                <p>Generate Brand <br>Loyalty & Repeat<br> Business </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="TabProgress">
                    <span class="DeProgressIndecator">
                        <span class="DeArrowIndecator"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>Our digital marketing services are tailored
                                        to send targeted traffic to your website
                                        & mobile app to generate 
                                        qualified leads and grow your business.
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p>Converting incoming traffic into a lead or a sale
                                        is the second step to building a successful brand online.
                                        A conversion can be defined as any measurement that engages
                                        a user with your brand. This includes everything from a purchased item,
                                        a requested quote, or a scheduled appointment.
                                    </p>
                                    <p>Our team takes the time to identify your brand's 
                                        position in the market by conducting a thorough 
                                        competitive analysis. We use that information 
                                        to design a conversion funnel that 
                                        encourages your website's visitors to ultimately 
                                        become customers.
                                    </p>
                                    <p>Our web designers specialize in creating layouts 
                                        with better usability, stronger content,
                                        and compelling calls to 
                                        action that are proven to increase
                                        customer engagement and acquisition rates.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="two">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>Our website design, mobile app development, 
                                        and digital marketing services deliver
                                        results and convert visitors into customers.
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p>Converting incoming traffic into a lead or a sale
                                        is the second step to building a successful brand online.
                                        A conversion can be defined as any measurement that engages
                                        a user with your brand. This includes everything from a purchased item,
                                        a requested quote, or a scheduled appointment.
                                    </p>
                                    <p class="Pad45">Our team takes the time to identify your brand's 
                                        position in the market by conducting a thorough 
                                        competitive analysis. We use that information 
                                        to design a conversion funnel that 
                                        encourages your website's visitors to ultimately 
                                        become customers.
                                    </p>
                                    <p>Our web designers specialize in creating layouts 
                                        with better usability, stronger content,
                                        and compelling calls to 
                                        action that are proven to increase
                                        customer engagement and acquisition rates.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="three">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>From email marketing & retargeting,
                                        to content marketing solutions, we bring back visitors to your 
                                        website or mobile app to increase brand
                                        loyalty and lifetime customer value.
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p>Converting incoming traffic into a lead or a sale
                                        is the second step to building a successful brand online.
                                        A conversion can be defined as any measurement that engages
                                        a user with your brand. This includes everything from a purchased item,
                                        a requested quote, or a scheduled appointment.
                                    </p>
                                    <p class="Pad45">Our team takes the time to identify your brand's 
                                        position in the market by conducting a thorough 
                                        competitive analysis. We use that information 
                                        to design a conversion funnel that 
                                        encourages your website's visitors to ultimately 
                                        become customers.
                                    </p>
                                    <p>Our web designers specialize in creating layouts 
                                        with better usability, stronger content,
                                        and compelling calls to 
                                        action that are proven to increase
                                        customer engagement and acquisition rates.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>