<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="DesignHead DesignPHeadRank">
                <h2>Microtechna</h2>
                <h3>is recognized as a <span>Top Digital Agency</span> by </h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center">
            <div class="DesignPsingleRank">
                <h2><span>Ranked #1</span> Interactive Agency by </h2>
                <img src="./assets/images/DesignPsingleRank.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="DesignPsingleRank">
                <h2>Ranked <span>Top 10</span> Digital Agency by </h2>
                <img src="./assets/images/DesignPsingleRank2.png" alt="">
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="DesignPsingleRank">
                <h2>Ranked <span>Top 10</span> Agency Worldwide by </h2>
                <img src="./assets/images/DesignPsingleRank3.png" alt="">
            </div>
        </div>
    </div>
</div>