<section class="DesignSlider">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DesignHead">
                    <h2>Website Design Process</h2>
                    <p>How do you design a website that is custom tailored to your business goals?
                        See below for an overview of steps from start to launch.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!--
                <ol class="carousel-indicators carouselIndicatorMain">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="DesignIndecator active">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="DesignIndecator">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="DesignIndecator">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="DesignIndecator">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="4" class="DesignIndecator">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="5" class="DesignIndecator">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </li>
                </ol>-->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="DesignSlider">
                            <div class="col-lg-5 col-lg-offset-1">
                                <div class="DesignSliderCon">
                                    <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                                    <p>In this phase, website designers roll up 
                                        their sleeves and start applying color and designs to 
                                        the wireframes submitted to them by the UX & IA team. 
                                        The web designers also provide clients with a design 
                                        storyboard outlining the usage of fonts and colors 
                                        throughout the site.Creative Design & Mockup Iteration
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="DesignSliderCon">
                                    <div class="DeSliderConImage">
                                        <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left DesignleftLeftCarosul1 carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
                <a class="right DesignArrowRightCarosul1 carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
            </div>
        </div>
    </div>  
</section>