<section class="DesignTab">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="TabMenu">
                    <ul role="tablist">
                        <li role="presentation" class="active">
                            <a href="#one" aria-controls="one" role="tab" data-toggle="tab" aria-expanded="false">
                                <span class="DspanFirst">
                                    <strong><em>1</em></strong>
                                </span>
                                <p class="text-center">Responsive web design</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#two" aria-controls="two" role="tab" data-toggle="tab" aria-expanded="false">
                                <span class="DspanFirst">
                                    <strong><em>2</em></strong>
                                </span>
                                <p class="text-center">Speed Is A Killer </p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#three" aria-controls="three" role="tab" data-toggle="tab" aria-expanded="false">
                                <span class="DspanFirst">
                                    <strong><em>3</em></strong>
                                </span>
                                <p>Free CMS could leave you in high water!</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="TabProgress">
                    <span class="DeProgressIndecator">
                        <span class="DeArrowIndecator"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="one">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>  
                                        It is reported that 46% of mobile viewer's report problems in viewing sites. 
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p>Statistics show that a large percentage of the UK population sit at home
                                        browsing the web using tablet devices.
                                    </p>
                                    <p>With the rise in Tablets and Smartphones, this number is crucial for most businesses. Well, you can make your site mobile responsive with our reliable architectural design service.
                                        In April 2016, Google changed its ranking mechanism to prioritize websites which have optimized content and throughout the next year, we'll see companies hurrying to re-boost their Google ranks.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="two">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>According to surveys done by Akamai and Gomez.com, nearly half of web 
                                        users expect a site to load in 2 seconds or less,
                                        and they tend to abandon a site that isn't loaded within 3 seconds.
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p>79% of web shoppers who have trouble with web 
                                        site performance say they won't return to the site to buy again and around 
                                        44% of them would tell a friend if they had a poor experience shopping online.
                                    </p>
                                    <p class="Pad45">This means you're not just losing 
                                        conversions from visitors currently on your site, but that 
                                        loss is magnified to their friends and colleagues as well.
                                        The end result - lots of potential sales down the drain 
                                        because of a few seconds difference. 
                                    </p>
                                    <p>If your website is slow, you're losing money.</p>
                                    <p>To avoid such situations, we offer making websites lightning fast and mobile responsive.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="three">
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-1">
                                <div class="PanelLeft">
                                    <h2>CMS are a great platform also has some demerits
                                        or disadvantages that could leave you in high water.
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="PanelRight">
                                    <p> Hackers and spammers usually target CMS sites because 
                                        of its the popularity worldwide. Due to this fact, 
                                        your site is more vulnerable to security hacks and 
                                        malicious activities. Well,
                                        you can strengthen the security of your
                                        site Nearly hacking proof with our technologies.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>