<section class="AbCountrySec">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DesignHead countryHead">
                    <h2>The Languages <span>We Speak</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-xs-2 col-xs-offset-1 col-lg-offset-4">
                <div class="SingleCountry text-center">
                    <img src="./assets/images/english.png" alt="">
                    <h2>English</h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="SingleCountry text-center">
                    <img src="./assets/images/spanish.png" alt="">
                    <h2>Spanish</h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="SingleCountry text-center">
                    <img src="./assets/images/japanese.png" alt="">
                    <h2>Japanese</h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="SingleCountry text-center">
                    <img src="./assets/images/french.png" alt="">
                    <h2>French</h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-2">
                <div class="SingleCountry text-center">
                    <img src="./assets/images/arabic.png" alt="">
                    <h2>Arabic</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="DesignHead countryHead countryHead2">
                    <h2>Some of <span>Our Hobbies</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3 noPadding">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                    <h2>World Travel</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h2>Competitive Cycling</h2>
                </div>
            </div>

            <div class="col-lg-2 col-xs-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h2>Martial Arts</h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-futbol-o" aria-hidden="true"></i>
                    <h2>Bowling</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    <h2>Hiking and climbing</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h2>Cooking, fine dining </h2>
                </div>
            </div>
            <div class="col-lg-1 col-xs-4">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <h2>Blogging</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-4 col-lg-offset-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                    <h2>Golf</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3">
                <div class="SingleCountry hoby text-center">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <h2>Stand-up comedy</h2>
                </div>
            </div>
            <div class="col-lg-2 col-xs-3">
                <div class="SingleCountry text-center">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h2>Dancing</h2>
                </div>
            </div>
        </div>
    </div>
</section> 