<section class="DesignSliderThree">
    <div class="container-fluid">
        <div class="DSliderThree">
            <div class="row">
                <div class="DesignSlider DesignSlider3">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 1 </span><br> Discovery / Project Architecture</h2>
                            <p>Set a positive tone for your project to maximize 
                                interactions with your targeted 
                                site visitors; and achieve successful results.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Analyze organization's assets</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Discuss project goals</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Research industry and competition</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Conceptualize and present go-to-market strategy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine architecture via sitemap, wireframes &amp; functionalities</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/design1.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider3">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 2 </span><br> Content Creation: <br>Text + Imagery</h2>
                            <p>Our Subject Matter Experts generate content 
                                to ensure that the information presented is 
                                accurate and compelling.
                            </p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Interview project stakeholders</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Write text from scratch and edit supplied copy</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Defining imagery: existing, stock imagery, or custom photo / video shoot</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Optimize content for SEO</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/design2.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider3">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 3 </span><br> Website Design </h2>
                            <p>Visual layouts, inspired by proven user interface research, will foster information-retrieval, organic page-flow and overall interest in your services, products and the company itself.</p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Determine color palette and overall visual style</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Show and tell client's unique story</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Organize content and architecture</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Design key sections, subpages &amp; other graphic elements</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Mobile <a href="/">responsive design</a> implementation</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/design3.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider3">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 4 </span><br> Website Development</h2>
                            <p>We develop rock-solid coding to ensure the website's stability, fast speed of loading and accessibility.</p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Integrate Content Management System (CMS)</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Configure Admin dashboard for system control</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Complex functionality development</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Build informational sections / pages</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Migrate &amp; implement site's content</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Scalable mobile responsive layouts development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/design4.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider3">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2><span style="font-weight: 700;font-size: 18px">Stage 5 </span><br> QUALITY ASSURANCE</h2>
                            <p>We will complete a full testing of your website, fix any bugs and problematic content; and release the new website on a live environment.</p>
                            <ul>
                                <li><span class="fa fa-chevron-circle-right"></span>Test website functionality in different browsers &amp; mobile devices</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Configure hosting environment</li>
                                <li><span class="fa fa-chevron-circle-right"></span>Launch the website</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/design5.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>