<section class="abBlogSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="absingleBlog text-center">
                    <img src="./assets/images/about-blog.png" alt="">
                    <h2>our <span>BLOG</span></h2>
                    <p>Our blog provides regular insight into the latest industry trends in web design and digital marketing.
                    </p>
                    <div class="abBlogBtn">
                        <a href="">view more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="absingleBlog text-center">
                    <img src="./assets/images/jobs-careers.png" alt="">
                    <h2>Jobs & <span>Careers</span></h2> 
                    <p>Join us, send us your resume to fit with the job listings to find out what might be right for you.
                    </p>
                    <div class="abBlogBtn">
                        <a href="mailto:junayed@gmail.com">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>