<section class="DesignSliderThree">
    <div class="container-fluid">
        <div class="DSliderThree">
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website DesignerIn this phase, website designers </h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="DesignSlider">
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="DesignSliderCon">
                            <h2>Creative Design<br> Mockups led by<br> Website Designer</h2>
                            <p>In this phase, website designers roll up 
                                their sleeves and start applying color and designs to 
                                the wireframes submitted to them by the UX & IA team. 
                                The web designers also provide clients with a design 
                                storyboard outlining the usage of fonts and colors 
                                throughout the site.Creative Design & Mockup Iteration
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="DesignSliderCon">
                            <div class="DeSliderConImage">
                                <img src="./assets/images/DesignItem.jpg" alt="DesignItem">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>