<section class="serviceSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="commonTitle commSr text-center">
                    <h2>my service</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>Quality Website Design</h2>
                        <p>Our Budget Buster package is ideal for business start ups and customers on small budgets looking for high quality website.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-server" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>Mobile Responsive Design</h2>
                        <p>We desing mobile first fluid responsive web, meaning the content moves freely across all screen resolutions and all devices.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>Blazing-Fast page loading</h2>
                        <p>We use hand crafted fast technology architecture. Faster than any WordPress site. If you don’t believe me then just compare our site with any other CMS site on Google Page Insights.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-lock lockicon" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>Secure Website</h2>
                        <p>Our static websites will not have any database to manipulate. So 100 times safer than WordPress. But nothing is un-hackable.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>