<section class="serviceSec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="commonTitle commSr text-center">
                    <h2>my service</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>High Quality Theme</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit 
                            esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-server" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>High Quality Jquery</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit 
                            esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>High Quality CSS3</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit 
                            esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="serviceContent">
                    <div class="SerIcon  text-center">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                    <div class="serText  text-center">
                        <h2>High Quality HTML5</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit 
                            esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>