<section class="industrySec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="industryTitle text-center">
                    <h2>We Serve All Industries</h2>
                    <p>We stay on top of our industry by being experts in yours.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="indMainItem text-center">
                <div class="indItem col-sm-3 col-md-2 noPadding text-center">
                    <i class="fa fa-briefcase"></i>
                    <p>e-commerce</p>
                </div>
                <div class="indItem col-sm-3 col-md-2 noPadding text-center">
                    <i class="fa fa-heart-o"></i>
                    <p>Non-Profit</p>
                </div>
                <div class="indItem col-sm-3 col-md-2 noPadding text-center">
                    <i class="fa fa-lightbulb-o"></i>
                    <p>Startups</p>
                </div>
                <div class="indItem col-sm-3 col-md-2 noMargin text-center">
                    <i class="fa fa-credit-card"></i>
                    <p>Enterprise</p>
                </div>
                <div class="indItem col-sm-3 col-md-2  noMargin text-center">
                    <i class="fa fa-graduation-cap"></i>
                    <p>Education</p>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="indBtn text-center">
                <a href="{{ site.baseurl }}work.html">view more</a>
            </div>
        </div>
    </div>
</section>