<section class="ourWork">
    <div class="container">
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Mobile Responsive Design</h2>
                        <p>Mobile is becoming more and more prevalent and becoming a focal point of business processes. Responsive Web Design makes your web 
                            page look good on all devices (desktops, tablets, and phones). It helps to make your website visitors happy
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Blazing-Fast page loading</h2>
                        <p>Our hand crafted customize websites through the optimization rules for the online resources properly,
                            they've been tested and proven and they underpin the work we do every day, thus the 
                            website load in faster manner. We may host the website in our blazing fast USA server for monthly $2. 
                            *You will get first month for free.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Hand crafted, Contended oriented</h2>
                        <p>We use hand crafted fast technology architecture. Faster than any WordPress site.
                            If you don't believe me then just compare our site with 
                            any other CMS site on Google Page Insights. I'm pretty sure our 
                            hand crafted websites wins the race.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Get Your Pages Indexed by Google Bing and Yahoo!</h2>
                       <p>Mobile is becoming more and more prevalent and becoming a focal point of business processes.
                           Responsive Web Design makes your web page look good on all devices (desktops, tablets, and phones).
                           It helps to make your website visitors happy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>SEO friendly Design</h2>
                       <p>Search engine friendly design 'is a user friendly website design that enables
                           websites to be easily found via the crawler-based search engines'.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work6.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Secure Website</h2>
                        <p>Our static websites will not have any database to manipulate. So 100 times safer than WordPress. But nothing is un-hackable.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work7.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Mobile Optimized</h2>
                       <p>Mobile is becoming more and more prevalent and becoming a focal point of business processes. Responsive Web Design 
                           makes your web page look good on all devices (desktops, tablets, and phones). It helps to make your website visitors happy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work8.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Unlimited Updatesv</h2>
                       <p>Don't stress. Leave everything up to us. We can provide unlimited website updates for a flat fee of $39 per month. 
                           This may even include website hosting with secure backups. You will get the first month for free.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work9.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Web Compatibility</h2>
                       <p>A site should easily render on various resolutions, screen sizes, and browsers; and with the increasing
                           popularity of mobile devices, websites should function properly on the plethora of these types of devices.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mainWork">
                <div class="col-lg-2 col-sm-3">
                    <div class="workImg">
                        <img src="./assets/images/work10.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-9 col-sm-8 paddingLeft20">
                    <div class="workContent">
                        <h2>Clear, User-friendly Navigation</h2>
                       <p>A stellar web design must contain a user-friendly navigation scheme that allows visitors to quickly find the information needed.
                           Important links must be easy to find and given logical, simple, and include easy-to-understand labels. 
                           Calls to action are placed in conspicuous spots within the navigation's scheme.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>