@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    width: 100%;
    text-align: center;
    a{
        font-size: 14px;
    }
    P{
        display: none;
    }
  }
  .MenuSec{
      height: auto;
  }
  .socail{
      padding: 10px 0;
  }
  .MobileMenu {
    cursor: pointer !important;
    display: block;
    height: 26px;
    line-height: 0.2;
    width: 30px;
    position: absolute;
    top: 13px;
    right: 17px;
    z-index: 9999;
    span {
      background: #fff;
      display: inline-block;
      height: 2px;
      width: 100%;
    }
  }
  .Menu {
    width: 100%;
    ul {
      background: #000;
      display: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 51px;
      width: 100%;
      z-index: 999;
      opacity: .7;
      li {
        cursor: pointer;
        display: block;
        padding: 14px 0;
        a {
          display: block;
        }
        &:hover .Submenu {
          position: absolute;
          left: 0;
          top: 0;
          width: 150px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  .mainSliderSec{
      margin-top: 78px;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
    body{
        
    }
}