<!DOCTYPE Html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="html,css,js,xml,bootstrap">
        <meta name="Author" content="Rasel">
        <meta name="description" content="this is our project class and HW">
        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.theme.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/preset.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/responsive.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <!--MenuSec Start her-->

        <section class="MenuSec">
            <div class="Mfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="index.html">MicroTech NA</a>
                                <p>Strengthening performance</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2">
                            <div class="MobileMenu hidden-lg hidden-md hidden-sm">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="Menu text-right">
                                <ul>
                                    <li class="scrolls"><a href="about_us.html">About us</a></li>
                                    <li class="scrolls"><a href="service.html" class="SubSer">service</a>
                                        <ul class="Submenu">
                                            <li class="scrolls"><a href="design.html">Website design</a></li>
                                            <li class="scrolls"><a href="mobile_app.html">Mobile App Development</a></li>
                                            <li class="scrolls"><a href="Performance.html">Performance testing</a></li>
                                            <li class="scrolls"><a href="service_four.html">service_four</a></li>
                                        </ul>
                                    </li>
                                    <li class="scrolls"><a href="workwith.html">Work with us</a></li>
                                    <li class="scrolls"><a href="work.html">Work</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="socail">
                                <a href="#" class="fa fa-facebook face"></a>
                                <a href="#" class="fa fa-twitter twi"></a>
                                <a href="#" class="fa fa-google goo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        {{ content }}

        <!--CommFooterSec Start here by shagor  here-->
        <section class="CmFooterSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">
                            <div class="logo FLogo">
                                <a href="#">MicroTech NA</a>
                                <p>Far far away, behind the word mountains, 
                                    far from the countries 
                                    Vokalia and Consonantia, there live the blind texts. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">    
                            <h2>Our services</h2>
                            <div class="FSerMenu">
                                <a href="#">Automotive Parts & System</a>
                                <a href="#">Construction & Engineering</a>
                                <a href="#">Power & Energy</a>
                                <a href="#">Aero Space</a>
                                <a href="#">Ship Building Industry</a>
                                <a href="#">Railway</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">    
                            <h2>USefull links</h2>
                            <div class="FSerMenu">
                                <a href="#">Automotive Parts & System</a>
                                <a href="#">Construction & Engineering</a>
                                <a href="#">Power & Energy</a>
                                <a href="#">Aero Space</a>
                                <a href="#">Ship Building Industry</a>
                                <a href="#">Railway</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="SingleCmFooter">
                            <h2>Newsletter</h2>
                            <div class="FSerMenu">
                                <p>Don’t miss to subscribe to our news feeds, kindly fill the form below.</p>
                                <div class="FserGroup">
                                    <input type="email" class="FSerMail">
                                    <button class="NewsLBtn">Join</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CommFooterSec End here by shagor here-->

        <!--start footer section-->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footerwedget">
                            <p>Copyright 2017 <a href="#">microtech</a>. All Rights Reserved. Designed By <a href="http://apmsglobal.com" target="_blank">APMS</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footerIcon text-right">
                            <a href="" class="face"><i class="fa fa-facebook"></i></a>
                            <a href="" class="twi"><i class="fa fa-twitter"></i></a>
                            <a href="" class="goo"><i class="fa fa-google"></i></a>
                            <a href="" class="lin"><i class="fa fa-linkedin"></i></a>
                            <a href="" class="ins"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a href="#" class="BackTo">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </a>
        <!-- All JS Files --> 
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>  
        <!--All JS File Including End here-->
    </body>

</html>