<!DOCTYPE Html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <!--all meta tag-->

        <meta charset="UTF-8">
        <meta name="keywords" content="website,html,css,js,xml,bootstrap">
        <meta name="Author" content="MicrotechNa">
        <meta name="description" content="Microtech-Na">
        <meta name="viewport" content="width=device-width">

        <!-- All CSS Files -->

        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/owl.theme.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/preset.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/responsive.css"/>
        <!-- End CSS Including -->
    </head>
    <body>
        <!--MenuSec Start her-->

        <section class="MenuSec">
            <div class="Mfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4  col-sm-3">
                            <div class="logo">
                                <a href="index.html">MicroTech NA</a>
                                <p>strengthening business performances</p>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-1  col-sm-6">
                            <div class="MobileMenu hidden-lg hidden-md hidden-sm">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="Menu text-right">
                                <ul>
                                    <li class="scrolls"><a href="about_us.html">About us</a></li>
                                    <li class="scrolls"><a href="design.html" class="SubSer">Services</a>
                                        <ul class="Submenu">
                                            <li class="scrolls"><a href="design.html">Website design</a></li>
                                            <li class="scrolls"><a href="mobile_app.html">Mobile App Development</a></li>
                                            <li class="scrolls"><a href="Performance.html">Performance testing</a></li>
                                            <!-- <li class="scrolls"><a href="service_four.html">service_four</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="scrolls"><a href="work.html">Work</a></li>
                                    <li class="scrolls workwith"><a href="workwith.html">Work with us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-3">
                            <div class="socail">
                                <a href="https://www.facebook.com/microtechna/" target="_blank" class="fa fa-facebook face"></a>
                                <a href="https://twitter.com/@MicroTechSky" target="_blank" class="fa fa-twitter twi"></a>
                                <a href="https://plus.google.com/b/103441871439982130127/103441871439982130127?hl=en" target="_blank" class="fa fa-google goo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--MenuSec End here by shagor-->
        <!--start slide-->
        <!-- <section class="HomeSlide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-2">
                         <div class="slideContent">
                            <h1>Be Bold. Experiment Everywhere.</h1>
                            <p>Test and personalize across your customers' journey with <br>Optimizely, the Experimentation Platform.</p>
                            <div class="slideBtn">
                                <a href="">learn more</a>
                                <a href="">try it free</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->
        <!--end slide-->

        {{ content }}

        <!--CommFooterSec Start here by shagor  here-->
        <section class="CmFooterSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <div class="SingleCmFooter">
                            <div class="logo FLogo">
                                <a href="#">MicroTech NA</a>
                                <p>One goal above all others: Highest level of client satisfaction. Our in-house team of web designers and developers are dedicated to building the perfect website for your company on-time and on budget. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="SingleCmFooter">    
                            <h2>Our services</h2>
                            <div class="FSerMenu">
                                <h4><a href="{{ site.baseurl }}design.html">Website Design</a></h4>
                                <h4><a href="{{ site.baseurl }}mobile_app.html">Mobile App Development</a></h4>
                                <h4><a href="{{ site.baseurl }}performance.html">Performance Testing</a></h4>
                                <h4><a href="{{ site.baseurl }}design.html">Web App Developments</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="SingleCmFooter">    
                            <h2>USefull links</h2>
                            <div class="FSerMenu">
                                <h4><a href="http://www.toptenoftheworld.com/" target="_blank">Top Ten of the World</a></h4>
                                <h4><a href="http://life110volts.com" target="_blank">Life 110Volts</a></h4>
                                <h4><a href="http://matesglobal.com/" target="_blank">Mates Global</a></h4>
                                <h4><a href="https://developers.google.com/speed/pagespeed/insights/" target="_blank"> Google Page Insights</a></h4>
                                <h4><a href="http://banglatyping.com" target="_blank">Bangla Software</a></h4>
                                <h4><a href="https://gsuite.google.com/" target="_blank">Webmail</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="SingleCmFooter">
                            <h2>Newsletter</h2>
                            <div class="FSerMenu">
                                <p>Don’t miss to subscribe to our news feeds, kindly fill the form below.</p>
                                <div class="FserGroup">
                                    <input type="email" class="FSerMail">
                                    <button class="NewsLBtn">Join</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CommFooterSec End here by shagor here-->

        <!--start footer section-->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="footerwedget">
                            <p>Made With <i class="fa fa-heart" style="color:#E91E63;"></i> by <a href="http://Microtechna.com" target="_blank">APMS</a></p>
                            <p>&copy; 2017 <a href="{{ site.baseurl }}">Microtech</a>. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="footerIcon text-right">
                            <a href="https://www.facebook.com/microtechna/" class="face" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/@MicroTechSky" class="twi" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/b/103441871439982130127/103441871439982130127?hl=en" class="goo" target="_blank"><i class="fa fa-google"></i></a>
                            <a href="https://www.youtube.com/channel/UCSkG14BOJK3j0tYOFWK8O8w" class="lin" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <a href="#" class="BackTo">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </a>
        <!-- All JS Files --> 
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script> 
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-5770185-4', 'auto');
            ga('send', 'pageview');

        </script>
        <!--All JS File Including End here-->
    </body>

</html>